In [1]:
import pandas as pd
import pandas as pd
import snappy
import pyarrow as pa
import pyarrow.parquet as pq

import warnings
warnings.filterwarnings("ignore")

In [2]:
df_reviews = pd.read_csv('./CleanDatasets/reviews.csv')
df_games = pd.read_csv('./CleanDatasets/steam_games.csv')
df_items = pd.read_parquet('./CleanDatasets/itemsit.parquet')

# 01 Developer function

In [3]:
df_filtrado = df_games[['price', 'release_year', 'developer', 'item_id']]
# se eliminan los duplicados
df_dev = df_filtrado.drop_duplicates()
df_dev

       price release_year                 developer  item_id
0       4.99         2018                 Kotoshiro   761140
5       0.00         2018          Secret Level SRL   643980
9       0.00         2017              Poolians.com   670290
14      0.99         2017                      彼岸领域   767400
17      3.99         2018       Trickjump Games Ltd   772540
...      ...          ...                       ...      ...
71538   1.99         2018           Bidoniera Games   745400
71542   1.99         2018        Nikita "Ghost_RUS"   773640
71546   4.99         2018                    Sacada   733530
71549   1.99         2018  Laush Dmitriy Sergeevich   610660
71552   4.99         2017             xropi,stev3ns   658870

[28851 rows x 4 columns]

In [4]:
# Convert the DataFrame to a PyArrow Table object
table = pa.Table.from_pandas(df_dev)

# Define the compression options with Snappy
compression = 'snappy'

# Save the Table object in Parquet format with Snappy compression
pq.write_table(table, r"C:\My Project\Integ\MLInt\Datasets\CleanDatasets\df_funct_dev.parquet", compression=compression)

# 02 User_Data

# 03     userforgenre function

# playtime_forever_user to **df_playtime**

In [5]:
playtime_forever_user = df_items[['playtime_forever', 'user_id', 'item_id']]
playtime_forever_user

         playtime_forever            user_id item_id
0                     6.0  76561197970982479      10
1                     0.0  76561197970982479      20
2                     7.0  76561197970982479      30
3                     0.0  76561197970982479      40
4                     0.0  76561197970982479      50
...                   ...                ...     ...
5094100               0.0  76561198329548331  346330
5094101               0.0  76561198329548331  373330
5094102               3.0  76561198329548331  388490
5094103               4.0  76561198329548331  521570
5094104               3.0  76561198329548331  519140

[5094105 rows x 3 columns]

In [6]:
genre_item = df_games[['genres', 'item_id']]
genre_item

           genres  item_id
0          Action   761140
1          Casual   761140
2           Indie   761140
3      Simulation   761140
4        Strategy   761140
...           ...      ...
71549       Indie   610660
71550      Racing   610660
71551  Simulation   610660
71552      Casual   658870
71553       Indie   658870

[71554 rows x 2 columns]

In [7]:
# Convert 'item_id' column in both DataFrames to int
playtime_forever_user['item_id'] = playtime_forever_user['item_id'].astype(int)
genre_item['item_id'] = genre_item['item_id'].astype(int)

# Now you can merge
df_playtime_genre = playtime_forever_user.merge(genre_item, on='item_id')
df_playtime_genre

         playtime_forever            user_id  item_id      genres
0                     6.0  76561197970982479       10      Action
1                     0.0            js41637       10      Action
2                     0.0         Riot-Punch       10      Action
3                    93.0              doctr       10      Action
4                   108.0     corrupted_soul       10      Action
...                   ...                ...      ...         ...
9877299             164.0  76561198107283457   354280       Indie
9877300             164.0  76561198107283457   354280  Simulation
9877301               0.0              inven   433920   Adventure
9877302               0.0              inven   433920       Indie
9877303               0.0              inven   433920         RPG

[9877304 rows x 4 columns]

In [8]:
# Group by user and sum the playtime
agg_genre = df_playtime_genre.groupby(['genres', 'user_id'])['playtime_forever'].sum().reset_index()
# Convert the 'playtime_forever' column to hours
agg_genre['playtime_hours'] = agg_genre['playtime_forever']/60
# Drop the column in minutes
agg_genre = agg_genre.drop('playtime_forever', axis=1)
agg_genre

                genres            user_id  playtime_hours
0               Action            --000--     2324.483333
1               Action            --ace--     1155.416667
2               Action          --ionex--      638.583333
3               Action       -2SV-vuLB-Kg      708.333333
4               Action  -404PageNotFound-     1957.050000
...                ...                ...             ...
671349  Web Publishing            zepavil      632.100000
671350  Web Publishing           zeshirky        0.016667
671351  Web Publishing          zevlupine        0.066667
671352  Web Publishing            zilaman        0.150000
671353  Web Publishing          zipper559        0.050000

[671354 rows x 3 columns]

In [9]:
# Select 'user_url' and 'user_id' columns from df_items
user_url_user = df_items[['user_url', 'user_id']]
# Remove duplicates to have each 'user_id' with its url only once
user_url_user = user_url_user.drop_duplicates(subset='user_id', keep='first')
# Merge with the aggregated genre DataFrame
df_playtime_forever = agg_genre.merge(user_url_user, on='user_id', how='left')
df_playtime_forever.head()

,genres,user_id,playtime_hours,user_url
0,Action,--000--,2324.483333,http://steamcommunity.com/id/--000--
1,Action,--ace--,1155.416667,http://steamcommunity.com/id/--ace--
2,Action,--ionex--,638.583333,http://steamcommunity.com/id/--ionex--
3,Action,-2SV-vuLB-Kg,708.333333,http://steamcommunity.com/id/-2SV-vuLB-Kg
4,Action,-404PageNotFound-,1957.050000,http://steamcommunity.com/id/-404PageNotFound-

In [10]:
# Convert the DataFrame to a PyArrow Table object
table = pa.Table.from_pandas(df_playtime_forever)

# Define the compression options with Snappy
compression = 'snappy'

# Save the Table object in Parquet format with Snappy compression
pq.write_table(table, r"C:\My Project\Integ\MLInt\Datasets\CleanDatasets\df_playtime.parquet", compression=compression)

# playtime_forever_user to **df_genre_ranking**

In [11]:
# Group by 'genres' and sum 'playtime_hours'
df_genre_ranking = agg_genre.groupby('genres')['playtime_hours'].sum().reset_index()
# Sort by 'playtime_hours'
df_genre_ranking = df_genre_ranking.sort_values(by='playtime_hours', ascending=False)
# Add a column with the ranking position
df_genre_ranking['ranking'] = df_genre_ranking['playtime_hours'].rank(ascending=False).astype(int)
df_genre_ranking

                       genres  playtime_hours  ranking
0                      Action    5.125167e+07        1
9                       Indie    2.459123e+07        2
12                        RPG    1.713213e+07        3
1                   Adventure    1.497939e+07        4
14                 Simulation    1.425438e+07        5
17                   Strategy    1.084995e+07        6
8                Free to Play    1.006072e+07        7
10      Massively Multiplayer    7.352093e+06        8
4                      Casual    4.155277e+06        9
6                Early Access    2.611542e+06       10
16                     Sports    1.082006e+06       11
13                     Racing    1.049832e+06       12
18                  Utilities    7.795593e+04       13
5   Design &amp; Illustration    6.792557e+04       14
20             Web Publishing    4.601252e+04       15
19           Video Production    3.979733e+04       16
2    Animation &amp; Modeling    3.323618e+04       17
15          Software Training    9.333133e+03       18
3            Audio Production    9.086683e+03       19
7                   Education    6.882583e+03       20
11              Photo Editing    1.908367e+03       21

In [12]:
# Convert the DataFrame to a PyArrow Table object
table = pa.Table.from_pandas(df_genre_ranking)

# Define the compression options with Snappy
compression = 'snappy'

# Save the Table object in Parquet format with Snappy compression
pq.write_table(table, r"C:\My Project\Integ\MLInt\Datasets\CleanDatasets\df_genre_ranking.parquet", compression=compression)

In [13]:
def userforgenre(genre):
    # Filter the DataFrame by the specified genre
    data_by_genre = df_userforgenre[df_userforgenre['genres'] == genre]
    
    # Group the filtered DataFrame by user and sum the playtime hours
    top_users = data_by_genre.groupby(['user_url', 'user_id'])['playtime_hours'].sum().nlargest(5).reset_index()
    
    # Create an empty dictionary to store the required data
    top_users_dict = {}
    for index, row in top_users.iterrows():
        # User info iterates through each row of the top 5 and stores it in the dictionary
        user_info = {
            'user_id': row['user_id'],
            'user_url': row['user_url']
        }
        top_users_dict[index + 1] = user_info
    
    return top_users_dict

# 04 best_developer_year

The release year of a game is added to the df_reviews DataFrame. 
First, the game id and release year columns are extracted, duplicates are removed, 
and then they are joined with the reviews DataFrame.

# release_year in to **df_reviews_L**

In [14]:
release_year_item = df_games[['item_id', 'release_year','developer']]
# Remove duplicates
release_year_item = release_year_item.drop_duplicates()
release_year_item

       item_id release_year                 developer
0       761140         2018                 Kotoshiro
5       643980         2018          Secret Level SRL
9       670290         2017              Poolians.com
14      767400         2017                      彼岸领域
17      772540         2018       Trickjump Games Ltd
...        ...          ...                       ...
71538   745400         2018           Bidoniera Games
71542   773640         2018        Nikita "Ghost_RUS"
71546   733530         2018                    Sacada
71549   610660         2018  Laush Dmitriy Sergeevich
71552   658870         2017             xropi,stev3ns

[28851 rows x 3 columns]

In [15]:
print(df_reviews.columns)
print(release_year_item.columns)

Index(['user_id', 'user_url', 'sentiment_analysis', 'posted', 'item_id',
       'recommend'],
      dtype='object')
Index(['item_id', 'release_year', 'developer'], dtype='object')

In [16]:
df_reviews_l = df_reviews.merge(release_year_item, on='item_id')
df_reviews_l

,user_id,user_url,sentiment_analysis,posted,item_id,recommend,release_year,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,2011-11-05,1250,True,2009,Tripwire Interactive
1,death-hunter,http://steamcommunity.com/id/death-hunter,1,2015-03-30,1250,True,2009,Tripwire Interactive
2,DJKamBer,http://steamcommunity.com/id/DJKamBer,1,2013-07-12,1250,True,2009,Tripwire Interactive
3,diego9031,http://steamcommunity.com/id/diego9031,1,2015-08-13,1250,True,2009,Tripwire Interactive
4,76561198081962345,http://steamcommunity.com/profiles/76561198081...,2,2014-04-05,1250,True,2009,Tripwire Interactive
...,...,...,...,...,...,...,...,...
49709,llDracuwulf,http://steamcommunity.com/id/llDracuwulf,1,2015-10-29,307130,True,2014,Legend Studio
49710,ChrisCoroner,http://steamcommunity.com/id/ChrisCoroner,1,2024-05-05,209120,True,2012,"Capcom U.S.A., Inc."
49711,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,2024-08-13,220090,True,2013,SkyGoblin
49712,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,2024-08-13,262850,True,2014,SkyGoblin
49713,vinquility,http://steamcommunity.com/id/vinquility,2,2024-03-05,431510,True,2016,Aeon Dream Studios

In [27]:
df_reviews_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49714 entries, 0 to 49713
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             49714 non-null  object
 1   user_url            49714 non-null  object
 2   sentiment_analysis  49714 non-null  int64
 3   posted              49714 non-null  object
 4   item_id             49714 non-null  int64
 5   recommend           49714 non-null  bool
 6   release_year        49714 non-null  object
 7   developer           49714 non-null  object
dtypes: bool(1), int64(2), object(5)
memory usage: 2.7+ MB

In [17]:
# Convert the DataFrame to a PyArrow Table object
table = pa.Table.from_pandas(df_reviews_l)

# Define the compression options with Snappy
compression = 'snappy'

# Save the Table object in Parquet format with Snappy compression
pq.write_table(table, r"C:\My Project\Integ\MLInt\Datasets\CleanDatasets\df_reviews_l.parquet", compression=compression)

In [32]:
df_reviews.columns

Index(['user_id', 'user_url', 'sentiment_analysis', 'posted', 'item_id',
       'recommend'],
      dtype='object')

In [29]:
def sentiment_analysis(year):
    # Filter the reviews for the specific release year
    year_reviews = df_reviews[df_reviews['release_year'] == str(year)]  # Convert year to a string
    
    print(f"Number of reviews for {year}: {len(year_reviews)}")  # Debugging print
    
    # Initialize a dictionary to count the sentiment categories
    sentiment_counts = {'Negative': 0, 'Neutral': 0, 'Positive': 0}
    
    # Iterate through the reviews of the release year
    for index, row in year_reviews.iterrows():
        sentiment = row['sentiment_analysis']
        sentiment_category = ''
        
        # Assign the corresponding sentiment category
        if sentiment == 0:
            sentiment_category = 'Negative'
        elif sentiment == 1:
            sentiment_category = 'Neutral'
        elif sentiment == 2:
            sentiment_category = 'Positive'
        
        # Increment the corresponding counter in the dictionary
        sentiment_counts[sentiment_category] += 1
    
    print(f"Sentiment counts for {year}: {sentiment_counts}")  # Debugging print
    return sentiment_counts

In [30]:
year = 2009
sentiment_analysis(year)

KeyError: 'release_year'

# df_items ===>  **df_expenses_items**

In [18]:
# Se extraen las columnas 'items_count', 'user_id' e 'item_id'
df_expenses_items = df_items[['items_count', 'user_id', 'item_id']]
df_expenses_items

         items_count            user_id item_id
0                277  76561197970982479      10
1                277  76561197970982479      20
2                277  76561197970982479      30
3                277  76561197970982479      40
4                277  76561197970982479      50
...              ...                ...     ...
5094100            7  76561198329548331  346330
5094101            7  76561198329548331  373330
5094102            7  76561198329548331  388490
5094103            7  76561198329548331  521570
5094104            7  76561198329548331  519140

[5094105 rows x 3 columns]

In [19]:
price_games = df_games[['price', 'item_id']]
# Remove duplicates
price_games = price_games.drop_duplicates(subset='item_id', keep='first')
price_games

       price  item_id
0       4.99   761140
5       0.00   643980
9       0.00   670290
14      0.99   767400
17      3.99   772540
...      ...      ...
71538   1.99   745400
71542   1.99   773640
71546   4.99   733530
71549   1.99   610660
71552   4.99   658870

[28851 rows x 2 columns]

In [20]:
price_games['item_id'] = price_games['item_id'].astype('int64')
df_expenses_items['item_id'] = df_expenses_items['item_id'].astype('int64')

df_expenses_items = df_expenses_items.merge(price_games, on='item_id', how='left')
df_expenses_items

         items_count            user_id  item_id  price
0                277  76561197970982479       10   9.99
1                277  76561197970982479       20   4.99
2                277  76561197970982479       30   4.99
3                277  76561197970982479       40   4.99
4                277  76561197970982479       50   4.99
...              ...                ...      ...    ...
5094100            7  76561198329548331   346330   0.00
5094101            7  76561198329548331   373330    NaN
5094102            7  76561198329548331   388490   0.00
5094103            7  76561198329548331   521570   0.00
5094104            7  76561198329548331   519140    NaN

[5094105 rows x 4 columns]

In [21]:
# Convert the DataFrame to a PyArrow Table object
table = pa.Table.from_pandas(df_expenses_items)

# Define the compression options with Snappy
compression = 'snappy'

# Save the Table object in Parquet format with Snappy compression
pq.write_table(table, r"C:\My Project\Integ\MLInt\Datasets\CleanDatasets\df_expenses_items.parquet", compression=compression)

# USERFORGENRE!!!

In [22]:
def game_genre(genre):
    # Search for the ranking for the genre of interest
    rank = df_genre_ranking[df_genre_ranking['genres'] == genre]['ranking'].iloc[0]
    return {
        'rank': rank
    }

In [23]:
genre = 'Simulation'
game_genre(genre)

{'rank': 5}

In [26]:
genre = 'Action'
game_genre(genre)

{'rank': 1}

In [24]:
def userforgenre(genre):
    # Filter the dataframe by the genre of interest
    data_by_genre = df_playtime_forever[df_playtime_forever['genres'] == genre]
    # Group the filtered dataframe by user and sum the hours of playtime
    top_users = data_by_genre.groupby(['user_url', 'user_id'])['playtime_hours'].sum().nlargest(5).reset_index()
    
    # Create an empty dictionary to store the needed data
    top_users_dict = {}
    for index, row in top_users.iterrows():
        # User info iterates over each row of the top 5 and saves it in the dictionary
        user_info = {
            'user_id': row['user_id'],
            'user_url': row['user_url']
        }
        top_users_dict[index + 1] = user_info
    
    return top_users_dict

In [25]:
genre = 'Action'
userforgenre(genre)

{1: {'user_id': 'Sp3ctre', 'user_url': 'http://steamcommunity.com/id/Sp3ctre'},
 2: {'user_id': 'shinomegami',
  'user_url': 'http://steamcommunity.com/id/shinomegami'},
 3: {'user_id': 'REBAS_AS_F-T',
  'user_url': 'http://steamcommunity.com/id/REBAS_AS_F-T'},
 4: {'user_id': 'Terminally-Chill',
  'user_url': 'http://steamcommunity.com/id/Terminally-Chill'},
 5: {'user_id': 'DownSyndromeKid',
  'user_url': 'http://steamcommunity.com/id/DownSyndromeKid'}}

Game Recommendation - id_product

In [ ]:
release_year_item = df_games[['item_id', 'release_year','developer']]
# Remove duplicates
release_year_item = release_year_item.drop_duplicates()
release_year_item